/*---------------------------------------------------------------
| Diseño responsivo                                             |
| @rutillastoby                                                 |
---------------------------------------------------------------*/

/* MOVILES */
@media only screen and (max-width: 600px) {
    #containerBack{
        width: 50%!important;
        padding-top: 50%!important;
    }
    #logoIndex{
        width: 55%!important;
    }
}