@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

body{
    /* Colores */
    --githubColor:rgb(128, 63, 141);
    --youtubeColor: rgb(255, 0, 0);
    --facebookColor: rgb(64 100 172);
    --twitterColor:rgb(29, 161, 242);
    --zoaColor:#ffeb3b;
    --walterColor:rgb(178, 224, 51);
    /*maxi<->normal header transition*/
    --maxiVelocity:0.5s;
}
*{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.mediumText{
    font-size: 19px;
}

/******** HEADER ********/
header{
    position: fixed;
    background-color: white;
    width: 100%;
    top:0;
    z-index: 1000;
}
header .content{
    height: 50px;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
    transition: height var(--maxiVelocity) ease;
}
#topLine{
    height: 6px;
    background-color: black;
    transition: height  var(--maxiVelocity) ease;
}
#mainLogo{
    width: 44px;
    transition: width var(--maxiVelocity) ease;
}
header.maxi-mb .content,
header.maxi-mb #topLine,
header.maxi-mb #mainLogo,
#menu.maxi-mb,
#banner360.maxi-mb{
    transition: none!important;
}

header.maxi .content{
    height: 110px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
header.maxi #topLine{
    height: 10px;
}
header.maxi #mainLogo{
    width: 70px;
}

/******** MENU ********/
#menu{
    width: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    min-height: calc(100% - 56px);
    position: fixed;
    top:56px;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.28s ease, 
                visibility 0.28s ease,
                min-height var(--maxiVelocity) ease,
                top var(--maxiVelocity) ease;    
}
#menu.open{
    opacity: 1;
    visibility: visible;
}
#menu .content{
    width: 30%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    right: -30%;
    overflow: auto;
    transition: right 0.28s ease;
}
#menu.open .content{
    transition: right 0.4s ease-out;
    right: 0;
}

#menu.maxi {
    min-height: calc(100% - 120px);
    top:120px;
}

#menu .content img{
    width: 22px;
}
#menu .separator{
    width: 100%;
    height: 0.15em;
    background-color: black;
}

#menuTitle{
    display: block;
    transition: font-size 0.1s linear;
    font-size: 0px;
    font-weight: bold;
}
#menuTitle.open{
    font-size: 19px;
}

#menu .socialPanel{
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: auto;
}
#menu .socialPanel svg{
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#menu .socialPanel svg:hover{
    transform: translateY(-8px);
}
#menu .socialPanel svg.github{
    fill: var(--githubColor);
}
#menu .socialPanel svg.youtube{
    fill: var(--youtubeColor);
}
#menu .socialPanel svg.facebook{
    fill: var(--facebookColor);
}
#menu .socialPanel svg.twitter{
    fill: var(--twitterColor);
}

/***** TITULOS *****/
.sectionTitle .separator{
    width:100%;
    height: 0.1rem;
    background-color: #000
}

.sectionTitle h1{
    font-size: 25px;
    width: fit-content;
    white-space: nowrap; 
}

/******* BANNER 360 ********/
#banner360{
    background-color: #000;
    height: 500px;
    margin-top: 56px;
    transition: margin-top var(--maxiVelocity) ease;
}
#banner360.maxi{
    margin-top: 120px;
}
#pano{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
#banner360 .content{
    top:0px;
    right: 0px;
    text-align: right;
}
#banner360 .content .squareText{
    width: fit-content;
    width: -moz-max-content;
    max-width: 100%;
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 8px 18px;
    margin-left: auto;
    word-break: break-all; /*Nueva linea palabra larga*/
}

#banner360 .content p{
    color: white;
}

.authorPanel img{
    width: 48px;
}

/******* PROYECTOS ********/
#projects .content article{
    border-radius: 16px;
}
.project .logo{
    height: 38px;
}
#projects .content article .buttonsPanel button{
    border: 3px solid black;
    border-radius: 10px;
    background: none; 
    padding: 0px 38px;
    height: 45px;
}
.project .mainImg{
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
.project .mainImg img{
    position: absolute;
    bottom: 0;
    transform: translateY(50px);
}

/******* ZOA ********/
#projectZoa{
    background-color: var(--zoaColor);
}
#projectZoa .buttonsPanel img{
    height: 45px;
}

/******* WALTER ********/
#projectWalter{
    background-color: var(--walterColor);
}

/******* CONTACTO ********/
#contact .content .mail img{
    width: 40px;
    transition: transform 0.6s ease;
}
#contact .content .mail{
    cursor: pointer;
}
#contact .content .mail:hover img{
    transform: translateY(-8px);
}
#contact .content .socialPanel .element{
    color: white
}
#contact .content .socialPanel .element svg{
    height: 28px;
    fill: white;
}
#contact .content .socialPanel .element > .content{
    width: 75%;
    border-radius: 50px;
    padding: 6px 25px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
#contact .content .socialPanel .element > .content:hover{
    transform: scale(0.92);
}
#contact .content .socialPanel .element.github > .content{
    background-color: var(--githubColor);
}
#contact .content .socialPanel .element.youtube > .content{
    background-color: var(--youtubeColor);
}
#contact .content .socialPanel .element.facebook > .content{
    background-color: var(--facebookColor);
}
#contact .content .socialPanel .element.twitter > .content{
    background-color: var(--twitterColor);
}

/***** FOOTER *****/
footer{
    background-color: black;
    position: relative;
}
footer #copyright{
    color: white;
    font-size: 12px;
    margin-bottom: 8px;
}

#footerLogo{
    fill: white;
    height: 70px;
}

/******* RESPONSIVO *******/
@media only screen and (max-width: 700px) {
    /*** BANNER360 ***/
    #banner360 .content .squareText{
        font-size: 25px;
    }
    #banner360{
        height: 440px;
    }
    /*** MOVIL ***/
    #menu .content{
        width: 85%;
        right: -85%;
    }
    /*** CONTACTO ***/
    #contact .content .socialPanel .element > .content{
        width: 100%;
        margin: 0!important;
    }

    /*** PROYECTOS ***/
    .project .mainImg img{
        transform: translateY(30px);
    }
}
@media only screen and (min-width: 701px) and (max-width: 1000px) {
    /*** TABLET ***/
    #menu .content{
        width: 40%;
        right: -40%;
    }

}